form {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  margin-top: -87px !important;
  border-radius: 5px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
  line-height: 2.5;
  border: 1px none white;
}

input[type="search" i] {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.magnifying-icon {
  font-size: 20px;
  float: right;
  top: -32px;
  right: 17px;
  position: relative;
  color: rgba(228, 44, 32);
}

small {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  display: block;
  margin-top: 20px;
  text-align: center;
}

span.heart {
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: red;
}
