h2.partofspeech {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

div.definition {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-top: 25px;
  margin-bottom: 5px;
}

div.example {
  font-style: italic;
  font-size: 0.9rem;
  opacity: 70%;
  top: 5px;
  margin-bottom: 5px;
}
