h2.partofspeech {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

div.definition,
div.example {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
}
