section {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 12px auto;
  max-width: 75%;
}

h1.word {
  text-transform: capitalize;
  color: red;
  margin-bottom: 2px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
